@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 컬러변수 */
:root{
    --color-0-gray: rgb(201, 201, 201);
    --color-1-navy: rgb(0, 19, 128);
    --color-2-green: green;
    --color-3-orange: rgb(238, 123, 30);
    --color-4-sky: rgb(0, 204, 255);
    --color-5-purple: rgb(86, 44, 201);
    --color-6-brown: rgb(133, 51, 26);
    --color-7-grass: rgb(115, 128, 0);
    --color-8-pink: rgb(235, 59, 156);
}

/* 공통 */
* {
    font-family: pretendard;
    box-sizing: border-box;
}

body{
    margin: 0px;
}
header{
    border: 2px solid blue;
}
.home-btn{
    border: 2px solid red;
}
h1{
    margin: 0px;
    text-align: center;
}
.contents-section{
    border: 2px solid red;
}

/* 푸터 */
footer{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
.footer-container{
    border: 2px solid blue;
    display: flex;
}
.footer-info{
    border: 2px solid red;
}

/* 서치 */
.search-section{
    border: 2px solid green;
    display: flex;
    justify-content: center;
}
.input-container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}
.discription{
    border: 2px solid blue;
    text-align: center;
}
.search-btn{
    border: 2px solid green;
}

/* 구별 버튼 */
.states-btn-container{
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    row-gap: 60px;
    column-gap: 36px;
}
.states-btn{
    border: 2px solid blue;
    text-align: center;
}

/* 리스트 */
.list-container{
    border: 5px solid navy;
}
.list-card{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}
.list-contentsGrp{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-contents{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.list-infoGrp{
    border: 2px solid rebeccapurple;
    display: flex;
}
.list-info{
    border: 2px solid orange;
}
.icon{
    border: 2px solid orange;
}
.divider{
    border: 2px solid greenyellow;
}
/* 타이틀 */
.kinder-title{
    border: 2px solid palevioletred;
    display: flex;
}
.kinder-tag{
    border: 2px solid green;
}
.kinder-name{
    border: 2px solid firebrick;
}
/* 디테일 */
.detail-container{
    border: 2px solid palevioletred;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.detail-basicGrp{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
.detail-basic{
    border: 2px solid blue;
}
.detail-basicInfo{
    border: 2px solid orange;
}
.detail-icon{
    border: 2px solid red;
    width: 40px;
    height: 40px;
}
/* 키벨류 */
.key-value{
    border: 2px solid green;
    display: flex;
}
.key{
    border: 2px solid firebrick;
}
.value{
    border: 2px solid greenyellow;
}
/* 페이지네이션 */
.pagenation{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.page-btn{
    border: 2px solid blue;
}
.page-num{
    border: 2px solid red;
}
/* 데이터 */
.data-container{
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.data-card{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-contents{
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
}
.data-title{
    border: 2px solid green;
    text-align: center;
}
.data-keyValue-barGraph{
    border: 2px solid fuchsia;
    display: flex;
    gap: 10px;
}
.barGraph-container{
    border: 2px solid orange;
}
.barGraph{
    border: 2px solid blue;
}
.data-totalContainer{
    border: 2px solid red;
    display: flex;
    justify-content: end;
}
.data-totalKey{
    border: 2px solid green;
}
.data-totalValue{
    border: 2px solid olive;
}