@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 컬러 스타일 */
:root{
    --surface-bg: #F5F5F5;
    --surface-primary: #186DED;
    --surface-white: #FFFFFF;
    --surface-gray: #E9E9E9;
    --texticon-black: #000000;
    --texticon-white: #FFFFFF;
    --texticon-primary: #186DED;
    --texticon-secondary: #ABDCFF;
    --texticon-lightgray: #CBCBCB;
    --texticon-midgray: #B2AEAE;
    --texticon-darkgray: #545454;
    --border-midemp: #C2C2C2;
    --border-focus: #448EFF;

    --surface-env1: #186DED;
    --surface-env2: #0DB381;
    --surface-env3: #FF9356;
    --surface-env4: #C78EFF;

    --chart-1: #54E1D8;
    --chart-2: #50CBFF;
    --chart-3: #4A93FF;
    --chart-4: #9A77FF;
    --chart-5: #D592FF;
}
/* 컬러 프리셋 */
.highlight{
    color: var(--surface-primary);
}
.chart1{
    background-color: var(--chart-1);
}
.chart2{
    background-color: var(--chart-2);
}
.chart3{
    background-color: var(--chart-3);
}
.chart4{
    background-color: var(--chart-4);
}
.chart5{
    background-color: var(--chart-5);
}

/* 텍스트스타일 */
.text-title-large{
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-title-small{
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-large-sb{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-large-m{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-midlarge-m{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-mid-m{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-small-sb{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-small-m{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 500;
}

/* 레이아웃 관련 */
:root{
    --large-padding: 0px 36px 0px 36px;
    --mid-padding: 0px 24px 0px 24px;
    --small-padding: 0px 16px 0px 16px;
}


/* 공통 */

* {
    font-family: pretendard;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -o-font-smoothing: antialiased;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    background-color: var(--surface-bg);
    display: flex;
    flex-direction: column;
}

/* ----------------라지 레이아웃 : 데스크탑---------------- */
h1{
    margin: 0px;
    text-align: center;
    padding: var(--large-padding);
    padding-top: 100px;
}
main{
    padding: var(--large-padding);
    flex: 1;
}

/* 서치 */
.search-section{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 10px;
}
.input {
    width: 320px;
    height: 52px;
    background-color: var(--surface-white);
    border: none;
    padding: 14px 20px 14px 20px;
    border-radius: 1000px;

    &::placeholder {
        color: var(--texticon-lightgray);
    }
    &:focus{
        outline: 1.5px solid var(--border-focus);
    }
}
.search-btn{
    border: none;
    padding: 14px 40px 14px 40px;
    border-radius: 1000px;
    background-color: var(--surface-primary);
    color: var(--texticon-white);
    cursor: pointer;
}
.contents-section{
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
/* 구별 버튼 */
.states-btn-container{
    display: grid;
    grid-template-columns: repeat(5, 110px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 14px;
}
.states-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px;
    background-color: var(--surface-white);
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
.states-icon-S{
    width: 48px;
}

/* 리스트 */
.list-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}
.list-card{
    display: flex;
    flex-direction: column;
    padding: 24px 18px 24px 24px;
    width: 606px;
    background-color: var(--surface-white);
    border-radius: 14px;
    cursor: pointer;
}
.list-contentsGrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-infoGrp{
    display: flex;
    align-items: center;
    gap: 6px;
}
.list-info{
    color: var(--texticon-darkgray);
}
.list-divider{
    color: var(--border-midemp);
}
/* 타이틀 */
.kinder-title{
    display: flex;
    gap: 8px;
    align-items: center;
}
.kinder-tag{
    padding: 2px 6px 2px 6px;
    border-radius: 6px;
    background-color: var(--surface-primary);
    color: var(--texticon-white);
}
/* 페이지네이션 */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 22px;
}
.page-num{
    border: none;
    padding: 8px 12px 8px 12px;
    background-color: rgba(0,0,0,0);
    color: var(--texticon-darkgray);
    cursor: pointer;
}
.page-btn{
    border: none;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.pagination .active{
    border-radius: 8px;
    background-color: var(--surface-primary);
    color: var(--texticon-white);
}
/* 키벨류 */
.key-value1{
    display: flex;
    gap: 14px;
}
.key-value2{
    display: flex;
    gap: 14px;
}
.key-value3{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.key{
    color: var(--texticon-midgray);
    width: 80px;
}
.value{
    color: var(--texticon-darkgray);
}
/* 디테일 */
.detail-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 606px;
    padding: 30px;
    background-color: var(--surface-white);
    border-radius: 18px;
}
.detail-basicGrp{
    display: flex;
    justify-content: space-between;
}
.detail-basic{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail-basicInfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.states-icon-L{
    width: 120px;
}
.detail-subInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 16px;
}
/* 데이터 */
.data-container1{
    display: flex;
    width: 606px;
    height: 260px;
    padding: 30px;
    justify-content: space-between;
    background-color: var(--surface-white);
    border-radius: 18px;
}
.data-grp1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.data-title{
    color: var(--texticon-black);
}
.data-legends1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.legend{
    display: flex;
    align-items: center;
    gap: 8px;
}
.legend-tag{
    width: 14px;
    height: 14px;
}
.legend-text{
    display: flex;
}
.data-container2 {
    display: flex;
    flex-direction: column;
    width: 606px;
    padding: 30px;
    background-color: var(--surface-white);
    border-radius: 18px;
    gap: 30px;
}
.data-grp2{
    display: flex;
    width: 100%;
    height: 200px;
    align-items: start;
    gap: 10px;
}
.data-legends2{
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

/* 검색결과 없을 때 */
.empty-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 606px;
    height: 360px;
    background-color: var(--surface-white);
    border-radius: 14px;
    padding: 30px;
    justify-content: center;
}
.empty-msg{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.empty-msg img{
    width: 100px;
}
.empty-text{
    color: var(--texticon-darkgray);
}
.empty-back-btn{
    padding: 8px 20px 8px 20px;
    background-color: var(--surface-primary);
    color: var(--texticon-white);
    border-radius: 1000px;
    text-decoration: none;
}


/* ----------------미디엄 레이아웃 : 태블릿---------------- */

@media (max-width: 1024px) {
    h1{
        padding: var(--mid-padding);
        padding-top: 74px;
    }
    main{
        padding: var(--mid-padding);
    }
    .contents-section{
        padding-top: 50px;
    }
    /* 구별 버튼 */
    .states-btn-container{
        grid-template-columns: repeat(4, 110px);
    }
    
    /* 리스트 */
    .list-card{
        width: 482px;
    }
    
    /* 키벨류 */
    .key-value1{
        gap: 8px;
    }
    .key-value2{
        gap: 8px;
    }
    .key-value3{
        flex-direction: row;
        gap: 14px;
    }
    /* 디테일 */
    .detail-container{
        width: 482px;
    }
    .states-icon-L{
        width: 90px;
    }
    .detail-subInfo{
        grid-template-columns: repeat(1, 1fr);
    }
    /* 데이터 */
    .data-container1{
        width: 482px;
    }
    .legend{
        width: 136px;
    }
    .data-container2 {
        width: 482px;
    }
    #kidnum-chart{
        width: 280px !important;
    }
    
    /* 검색결과 없을 때 */
    .empty-contents{
        width: 482px;
    }
}
