@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 컬러 스타일 */
:root{
    --surface-bg: #F5F5F5;
    --surface-primary: #186DED;
    --surface-white: #FFFFFF;
    --surface-gray: #E9E9E9;
    --texticon-black: #000000;
    --texticon-white: #FFFFFF;
    --texticon-primary: #186DED;
    --texticon-secondary: #ABDCFF;
    --texticon-lightgray: #CBCBCB;
    --texticon-midgray: #B2AEAE;
    --texticon-darkgray: #545454;
    --border-midemp: #C2C2C2;
    --border-focus: #448EFF;
}
/* 컬러 프리셋 */
.highlight{
    color: var(--surface-primary);
}

/* 텍스트스타일 */
.text-title-large{
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-title-small{
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-large-sb{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-large-m{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-midlarge-m{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-mid-m{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.text-body-small-sb{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.text-body-small-m{
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.01em;
    font-weight: 500;
}

/* 레이아웃 관련 */
:root{
    --large-padding: 0px 36px 0px 36px;
    --mid-padding: 0px 24px 0px 24px;
    --small-padding: 0px 16px 0px 16px;
}


/* 공통 */

* {
    font-family: pretendard;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: var(--surface-bg);
}

/* --------라지 레이아웃 : 데스크탑-------- */
.home-btn{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-primary);
}
.home-btn img{
    width: 140px;
    height: 36px;
}
h1{
    margin: 0px;
    text-align: center;
    padding: var(--large-padding);
    padding-top: 100px;
}

/* 푸터 */
footer{
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-gray);
    padding: var(--large-padding);
}
footer img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footer-info{
    color: var(--texticon-darkgray);
}

/* 서치 */
.search-section{
    border: 2px solid green;
    display: flex;
    justify-content: center;
}
.search-btn{
    border: 2px solid green;
}

/* 구별 버튼 */
.states-btn-container{
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    justify-content: center;
    row-gap: 60px;
    column-gap: 36px;
}
.states-btn{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.states-icon-S{
    border: 2px solid green;
    width: 50px;
}
.states-icon-L{
    border: 2px solid green;
    width: 200px;
}
.states-text{
    border: 2px solid green;
}

/* 리스트 */
.list-container{
    border: 5px solid navy;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list-card{
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.list-contentsGrp{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-contents{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.list-infoGrp{
    border: 2px solid rebeccapurple;
    display: flex;
}
.list-info{
    border: 2px solid orange;
}
.icon{
    border: 2px solid orange;
}
.divider{
    border: 2px solid greenyellow;
}
/* 타이틀 */
.kinder-title{
    border: 2px solid palevioletred;
    display: flex;
}
.kinder-tag{
    border: 2px solid green;
}
.kinder-name{
    border: 2px solid firebrick;
}
/* 디테일 */
.detail-container{
    border: 2px solid palevioletred;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.detail-basicGrp{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
}
.detail-basic{
    border: 2px solid blue;
}
.detail-basicInfo{
    border: 2px solid orange;
}
.detail-icon{
    border: 2px solid red;
    width: 40px;
    height: 40px;
}
/* 키벨류 */
.key-value{
    border: 2px solid green;
    display: flex;
}
.key{
    border: 2px solid firebrick;
}
.value{
    border: 2px solid greenyellow;
}
/* 페이지네이션 */
.pagination{
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.page-btn{
    border: 2px solid blue;
}
.page-num{
    border: 2px solid red;
}
/* 데이터 */
.data-container{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.data-card{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.data-contents{
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.data-title{
    border: 2px solid green;
    text-align: center;
}
.data-totalContainer{
    border: 2px solid red;
    display: flex;
    justify-content: end;
}
.data-totalKey{
    border: 2px solid green;
}
.data-totalValue{
    border: 2px solid olive;
}

/* 검색결과 없을 때 */
.empty-contents{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.empty-msg{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.empty-img{
    border: 2px solid blue;
}
.empty-text{
    border: 2px solid orange;
}
.empty-back-btn{
    border: 2px solid red;
}